---
import { getCollection } from "astro:content";
import BaseLayout from '../../layouts/BaseLayout.astro';
import { url } from '../../utils/url';
const pageTitle = "Topics";
const allPosts = await getCollection("blog");
const tags = [...new Set(allPosts.map((post: any) => post.data.tags).flat())];
---
<BaseLayout pageTitle={pageTitle}>
    <div class="tags">
        {tags.map((tag) =><a class="tag" href={url(`/tags/${encodeURIComponent(tag)}`)}>{tag}</a>)}
    </div>
</BaseLayout>