---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import Blogpost from '../components/Blogpost.astro';
import { url } from '../utils/url';

const pageTitle="My Astro Learning Blog" 
const allPosts = await getCollection("blog");
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
    <ul>
 {allPosts.map((post: any) => 
         <Blogpost urlTarget={url(`${post.id}/`)} title={post.data.title} />)}
    </ul>
</BaseLayout>	
</html>
