---
import "../styles/global.css";
import { url } from '../utils/url';
---
<nav id="main-menu" class="hidden md:block">
    <a data-astro-prefetch href={url('/')}>Home</a>
    <a data-astro-prefetch href={url('/about/')}>About</a>
    <a data-astro-prefetch href={url('/blog')}>Blog</a>
</nav>